# Ignore virtual environment
venv/

# Python cache
__pycache__/
*.pyc



# Mac system file
.DS_Store
# Ignore unnecessary files
*.zip
*.rar
*.tar.gz
*.7z

venv/
.venv/
.pynb_checkpoints/
### Ignore Jupyter Notebook checkpoints
migrations/
## Ignore virtual documents and instance folders
.virtual_documents/
#
instance/

# Ignore machine learning models and temporary files
ML/
## Ignore temporary files and folders
summer_ML/

temp_backup/ 




